<p style="text-align: center;"><font size=6><b>EAE1106 - Métodos Computacionais para Economistas</b></font></p>
<p style="text-align: center;"> Departamento de Economia | Faculdade de Economia, Administração, Contabilidade e Atuaria <br> Universidade de São Paulo <br><br></p>
<p style="text-align: center;">Ana Werneck de Souza Dias (NºUSP: 14651267) | Felipe Nogueira de Barros Corrêa  (NºUSP: XXXXXX)| Gabriel Finamore (NºUSP: XXXXXX) <br><br> Guilherme Menezes Cruz (NºUSP: XXXXXX) | Marina Perroni Romano (NºUSP: XXXXXX)| Leonardo de Souza Teodoro (NºUSP: XXXXXX) <br>
<br><br></p>


<p style="text-align: center;">2º semestre de 2023</p>
<hr>

<font size=6><b>Trabalho Final </b></font>
<br><br>

Índice: 
1. Introdução
2. Importação dos dados
3. Tratamento de dados
4. Análise dos dados
5. Conclusão

### 1. Introdução

##### Informações contidas na base de dados (colunas):

* rank: The ranking of the billionaire in terms of wealth.<br><br>
* finalWorth: The final net worth of the billionaire in U.S. dollars.<br><br>
* category: The category or industry in which the billionaire's business operates.<br><br>
* personName: The full name of the billionaire.<br><br>
* age: The age of the billionaire.<br><br>
* country: The country in which the billionaire resides.<br><br>
* city: The city in which the billionaire resides.<br><br>
* source: The source of the billionaire's wealth.<br><br>
* industries: The industries associated with the billionaire's business interests.<br><br>
* countryOfCitizenship: The country of citizenship of the billionaire.<br><br>
* organization: The name of the organization or company associated with the billionaire.<br><br>
* selfMade: Indicates whether the billionaire is self-made (True/False).<br><br>
* status: "D" represents self-made billionaires (Founders/Entrepreneurs) and "U" indicates inherited or unearned wealth.<br><br>
* gender: The gender of the billionaire.<br><br>
* birthDate: The birthdate of the billionaire.<br><br>
* lastName: The last name of the billionaire.<br><br>
* firstName: The first name of the billionaire.<br><br>
* title: The title or honorific of the billionaire.<br><br>
* date: The date of data collection.<br><br>
* state: The state in which the billionaire resides.<br><br>
* residenceStateRegion: The region or state of residence of the billionaire.<br><br>
* birthYear: The birth year of the billionaire.<br><br>
* birthMonth: The birth month of the billionaire.<br><br>
* birthDay: The birth day of the billionaire.<br><br>
* cpi_country: Consumer Price Index (CPI) for the billionaire's country.<br><br>
* cpi_change_country: CPI change for the billionaire's country.<br><br>
* gdp_country: Gross Domestic Product (GDP) for the billionaire's country.<br><br>
* gross_tertiary_education_enrollment: Enrollment in tertiary education in the billionaire's country.<br><br>
* gross_primary_education_enrollment_country: Enrollment in primary education in the billionaire's country.<br><br>
* life_expectancy_country: Life expectancy in the billionaire's country.<br><br>
* tax_revenue_country_country: Tax revenue in the billionaire's country.<br><br>
* total_tax_rate_country: Total tax rate in the billionaire's country.<br><br>
* population_country: Population of the billionaire's country.<br><br>
* latitude_country: Latitude coordinate of the billionaire's country.<br><br>
* longitude_country: Longitude coordinate of the billionaire's country.<br><br>

### 2. Importação dos dados

In [1]:
#Importando bibliotecas necessárias ao longo do trabalho
import pandas as pd
import numpy as np

In [2]:
#
import os
print('Diretório inicial: {}'.format(os.getcwd()))

Diretório inicial: /Users/ana/Documents/TrabalhoComp

In [3]:
os.chdir('/Users/ana/Documents/TrabalhoComp')
print('Diretório final: {}'.format(os.getcwd()))

Diretório final: /Users/ana/Documents/TrabalhoComp

In [4]:
df = pd.read_csv('bilionarios.csv',sep=",", encoding='utf8')

### 3. Tratamento de dados

In [5]:
#Obtendo primeiras informações acerca do dataframe estudado
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 35 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   rank                                        2640 non-null   int64
 1   finalWorth                                  2640 non-null   int64
 2   category                                    2640 non-null   object
 3   personName                                  2640 non-null   object
 4   age                                         2575 non-null   float64
 5   country                                     2602 non-null   object
 6   city                                        2568 non-null   object
 7   source                                      2640 non-null   object
 8   industries                                  2640 non-null   object
 9   countryOfCitizenship                        2640 non-null   object
 10  organization                                325 non-null    object
 11  selfMade                                    2640 non-null   bool
 12  status                                      2640 non-null   object
 13  gender                                      2640 non-null   object
 14  birthDate                                   2564 non-null   object
 15  lastName                                    2640 non-null   object
 16  firstName                                   2637 non-null   object
 17  title                                       339 non-null    object
 18  date                                        2640 non-null   object
 19  state                                       753 non-null    object
 20  residenceStateRegion                        747 non-null    object
 21  birthYear                                   2564 non-null   float64
 22  birthMonth                                  2564 non-null   float64
 23  birthDay                                    2564 non-null   float64
 24  cpi_country                                 2456 non-null   float64
 25  cpi_change_country                          2456 non-null   float64
 26  gdp_country                                 2476 non-null   object
 27  gross_tertiary_education_enrollment         2458 non-null   float64
 28  gross_primary_education_enrollment_country  2459 non-null   float64
 29  life_expectancy_country                     2458 non-null   float64
 30  tax_revenue_country_country                 2457 non-null   float64
 31  total_tax_rate_country                      2458 non-null   float64
 32  population_country                          2476 non-null   float64
 33  latitude_country                            2476 non-null   float64
 34  longitude_country                           2476 non-null   float64
dtypes: bool(1), float64(14), int64(2), object(18)
memory usage: 704.0+ KB

O primeiro passo para o tratamento de dados será excluir as colunas que não terão utilidade para o grupo dado o recorte estabelecido pelas hipóteses.

In [6]:
#Apagando colunas desnecessárias
colunas_desnecessarias = ["lastName", "firstName", "date", "birthYear", "birthMonth", "birthDay",
                       "latitude_country", "longitude_country", "category", "residenceStateRegion",
                       "city", "state", "organization", "industries", "title", "source", "birthDate","rank"]

df = df.drop(columns=colunas_desnecessarias, errors='ignore')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 17 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   finalWorth                                  2640 non-null   int64
 1   personName                                  2640 non-null   object
 2   age                                         2575 non-null   float64
 3   country                                     2602 non-null   object
 4   countryOfCitizenship                        2640 non-null   object
 5   selfMade                                    2640 non-null   bool
 6   status                                      2640 non-null   object
 7   gender                                      2640 non-null   object
 8   cpi_country                                 2456 non-null   float64
 9   cpi_change_country                          2456 non-null   float64
 10  gdp_country                                 2476 non-null   object
 11  gross_tertiary_education_enrollment         2458 non-null   float64
 12  gross_primary_education_enrollment_country  2459 non-null   float64
 13  life_expectancy_country                     2458 non-null   float64
 14  tax_revenue_country_country                 2457 non-null   float64
 15  total_tax_rate_country                      2458 non-null   float64
 16  population_country                          2476 non-null   float64
dtypes: bool(1), float64(9), int64(1), object(6)
memory usage: 332.7+ KB

Em seguida, podemos notar que a quantidade de linhas não nulas em cada coluna varia, o que pode vir a ser um problema na elaboração de gráficos e análise de dados, por isso, o próximo passo foi eliminar todas as linhas que possuíssem valores nulos.

In [8]:
#Excluindo linhas com valores nulos
df = df.dropna()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2407 entries, 0 to 2639
Data columns (total 17 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   finalWorth                                  2407 non-null   int64
 1   personName                                  2407 non-null   object
 2   age                                         2407 non-null   float64
 3   country                                     2407 non-null   object
 4   countryOfCitizenship                        2407 non-null   object
 5   selfMade                                    2407 non-null   bool
 6   status                                      2407 non-null   object
 7   gender                                      2407 non-null   object
 8   cpi_country                                 2407 non-null   float64
 9   cpi_change_country                          2407 non-null   float64
 10  gdp_country                                 2407 non-null   object
 11  gross_tertiary_education_enrollment         2407 non-null   float64
 12  gross_primary_education_enrollment_country  2407 non-null   float64
 13  life_expectancy_country                     2407 non-null   float64
 14  tax_revenue_country_country                 2407 non-null   float64
 15  total_tax_rate_country                      2407 non-null   float64
 16  population_country                          2407 non-null   float64
dtypes: bool(1), float64(9), int64(1), object(6)
memory usage: 322.0+ KB

Por fim, analisando os tipos de informação em cada coluna, notamos que o PIB do país de origem do bilionário está no tipo 'object'. Dado que é um valor numérico, é preferível que ele esteja retratado como um número inteiro, como faremos no próximo passo.

In [10]:
#Compreendendo como estão os valores como objetos na coluna gdp_country
df['gdp_country']

0        $2,715,518,274,227
1       $21,427,700,000,000
2       $21,427,700,000,000
3       $21,427,700,000,000
4       $21,427,700,000,000
                ...
2635    $19,910,000,000,000
2636    $21,427,700,000,000
2637    $19,910,000,000,000
2638    $19,910,000,000,000
2639       $376,795,508,680
Name: gdp_country, Length: 2407, dtype: object

In [11]:
#Eliminando caracteres que impedem a conversão direta dos valores para números inteiros
df['gdp_country'] = df['gdp_country'].str.replace('$', '')
df['gdp_country'] = df['gdp_country'].str.replace(',', '')

In [12]:
df['gdp_country']

0        2715518274227
1       21427700000000
2       21427700000000
3       21427700000000
4       21427700000000
             ...
2635    19910000000000
2636    21427700000000
2637    19910000000000
2638    19910000000000
2639      376795508680
Name: gdp_country, Length: 2407, dtype: object

In [13]:
df['gdp_country'] = df['gdp_country'].astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2407 entries, 0 to 2639
Data columns (total 17 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   finalWorth                                  2407 non-null   int64
 1   personName                                  2407 non-null   object
 2   age                                         2407 non-null   float64
 3   country                                     2407 non-null   object
 4   countryOfCitizenship                        2407 non-null   object
 5   selfMade                                    2407 non-null   bool
 6   status                                      2407 non-null   object
 7   gender                                      2407 non-null   object
 8   cpi_country                                 2407 non-null   float64
 9   cpi_change_country                          2407 non-null   float64
 10  gdp_country                                 2407 non-null   int64
 11  gross_tertiary_education_enrollment         2407 non-null   float64
 12  gross_primary_education_enrollment_country  2407 non-null   float64
 13  life_expectancy_country                     2407 non-null   float64
 14  tax_revenue_country_country                 2407 non-null   float64
 15  total_tax_rate_country                      2407 non-null   float64
 16  population_country                          2407 non-null   float64
dtypes: bool(1), float64(9), int64(2), object(5)
memory usage: 322.0+ KB

Agora que o dataframe aparenta estar organizado e arrumado, o último passo da etapa de tratamento de dados será adicionar colunas que serão úteis em nossas análises, como a coluna 'fuga_de_cerebros', que nos dirá se o bilionário em questão é

In [15]:
#Coluna 'fuga_de_cerebros' indica se bilionário mudou de país(true) ou não (false) 
df['fuga_de_cerebros']= np.where(df['countryOfCitizenship'] == df['country'], False, True)

In [19]:
#Aparência final do DataFrame
df

,finalWorth,personName,age,country,countryOfCitizenship,selfMade,status,gender,cpi_country,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,fuga_de_cerebros
0,211000,Bernard Arnault & family,74.0,France,France,False,U,M,110.05,1.1,2715518274227,65.6,102.5,82.5,24.2,60.7,6.705989e+07,False
1,180000,Elon Musk,51.0,United States,United States,True,D,M,117.24,7.5,21427700000000,88.2,101.8,78.5,9.6,36.6,3.282395e+08,False
2,114000,Jeff Bezos,59.0,United States,United States,True,D,M,117.24,7.5,21427700000000,88.2,101.8,78.5,9.6,36.6,3.282395e+08,False
3,107000,Larry Ellison,78.0,United States,United States,True,U,M,117.24,7.5,21427700000000,88.2,101.8,78.5,9.6,36.6,3.282395e+08,False
4,106000,Warren Buffett,92.0,United States,United States,True,D,M,117.24,7.5,21427700000000,88.2,101.8,78.5,9.6,36.6,3.282395e+08,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,1000,Yu Rong,51.0,China,China,True,D,M,125.08,2.9,19910000000000,50.6,100.2,77.0,9.4,59.2,1.397715e+09,False
2636,1000,"Richard Yuengling, Jr.",80.0,United States,United States,False,E,M,117.24,7.5,21427700000000,88.2,101.8,78.5,9.6,36.6,3.282395e+08,False
2637,1000,Zhang Gongyun,60.0,China,China,True,R,M,125.08,2.9,19910000000000,50.6,100.2,77.0,9.4,59.2,1.397715e+09,False
2638,1000,Zhang Guiping & family,71.0,China,China,True,D,M,125.08,2.9,19910000000000,50.6,100.2,77.0,9.4,59.2,1.397715e+09,False
2639,1000,Inigo Zobel,66.0,Philippines,Philippines,False,R,M,129.61,2.5,376795508680,35.5,107.5,71.1,14.0,43.1,1.081166e+08,False